# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Build and Test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read    

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version: 1.19.x

    - name: Build
      run: go build -v ./...
      
    - name: Build Release
      env:
        GOOS: windows
        GOARCH: amd64
      run: go build -v -trimpath -ldflags '-w -s' -o workplace-sync.exe ./cmd/
      
    - name: Upload a Build Artifact
      uses: actions/upload-artifact@v3.1.1
      with:
        path: workplace-sync.exe

    - name: Test
      run: go test -race ./...
